<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{"HH:mm:ss.SSS"} %-5level - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_IN_HOME" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <file>${user.home}/.release.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${user.home}/.release.%i.log.gz</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>4MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{"HH:mm:ss.SSS"} %-20logger{45} - %msg - [%thread - %relative{}ms since init]%rEx%n</pattern>
    </encoder>
  </appender>

  <logger name="release" level="TRACE" additivity="false">
    <appender-ref ref="FILE_IN_HOME" />
  </logger>

  <logger name="org.eclipse.aether.internal.impl.WarnChecksumPolicy" level="ERROR" additivity="false" />
  <root>
    <level value="WARN" />
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
